@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.heroImg {
    width:100%;
    height: 100%;
}

div.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex img{
    width: 600px;
    height: 400px;
    margin: 10px;
    margin-top: 40px;
}

.norm[data-src]:hover {box-shadow: 0 0 50px #333;}

.hero{
    position: relative;
}

.weatherImg{
    width: 50px;
    height: 50px;
}

.hero h1, .small, .medium, .large{
    position: absolute;
    top: 25px;
    left: 25px;
}

.small, .medium {
    display: none;
}

.btn {
    position: absolute;
    bottom:25px;
    right: 20px;
    height: 40px;
    width: 250px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #FADA5E;
    font-size: 16pt;
}


.join p {
    width: 200px;
}

.weather p, h4 {
    width: 50px; 
}

 nav a:hover {
    background-color: rgb(92, 154, 175);
  }

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.banner {
    text-align: center;
}

p, a {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    /* font-weight: bold; */
}

/* .weather {
    display: inline;
    text-align: center;
} */

.hero{
    grid-column: 2/3; 
    grid-row: 1/3;
    width: 700px;
    height: 520px;
    background-color: #EEE8AA;
}

h4, span.headers {
    display: inline;
    text-align: center !important;
    font-size: 14pt;
    text-decoration: underline;

}

form {
    display: flex;
    flex-direction: column;
}

section{
    position: relative;
}

.pic_desc{
    position:absolute;
    top:425px;
    left:10px
}

.form_section{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

form, .form_info{
    width: 30%;
}

.call{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 255px;
    width: 305px;
    background-color: #EEE8AA;
    text-align: center;
}

.news{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
    background-color: #EEE8AA;
    text-align: center;
}

.events{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 255px;
    width: 305px;
    background-color: #EEE8AA;
    text-align: center;
}

.weather{
    grid-column: 1/2;
    grid-row: 2/3;
    height: 255px;
    width: 305px;
    background-color: #EEE8AA;
    text-align: center;
}

.join{
    grid-column: 1/2;
    grid-row: 3/4;
    height: 255px;
    width: 305px;
    background-color: #EEE8AA;
    text-align: center;
}

.spotlight1{
    grid-column: 3/4;
    grid-row: 1/2;
    height: 255px;
    width: 305px;
    background-color: #EEE8AA;
    text-align: center;
}
/* 
.form_section .form_info ul li {
    display: block;
} */

.form_info {
    margin-top: -15px;
}

.submiss{
    text-align: center;
}

#member{
    margin-top: 15px;
}

.gold, #desc_bus{
    margin-bottom: 15px;
}

#np input.radio {
	display: inline;
	margin-left: 0.5em;
}

#np label{
    display: inline;
}

form input:required{
    border-left: red solid 6px;
}

form input:required:valid{
    border-left: green solid 6px;
}

.spotlight2{
    grid-column: 3/4;
    grid-row: 2/3;
    height: 255px;
    width: 305px;
    background-color: #EEE8AA;
    text-align: center;
}

.spotlight3{
    grid-column: 3/4;
    grid-row: 3/4;
    height: 255px;
    width: 305px;
    background-color: #EEE8AA;
    text-align: center;
}

header h1 {
    text-align: center;
    padding-top: 20px;
}


.logonav {
    display: inline-flex;
}

.firstLine {
    display: inline-flex;
    width: 100%;
    padding-left: 0;
    padding-inline-start: 0px;
}

.name, .contact, .location {
    display: inline-flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px 51px 20px 51px;
    margin: 0;
    align-self: center;
}

.name {
    font-size: 1.5em;
}

.social {
    width: 50px;
    height: 50px;
    padding: 10px;
    padding-top: 45px;
}

.logo {
    width: 175px;
    height: 140px;
    padding-left: 20px;
}

nav ul li {
    list-style-type: none;
    padding: 10px 25px;
}

.mod{
    text-align: center;
    font-size: 16pt;
}

nav {
    display: inline-flex;
    align-self: center;
    
}

footer{
    margin-top: 10px;
    align-self: center;
}

.date_h{
    font-size: 20pt;
    text-align: center;
    border: 3px solid black;
    margin-bottom: 2px;
    margin-top: 0;
}

header{
    padding-bottom: 4px;
}

main{
    padding-top: 10px;
}

header, footer {
    background-color: #04395E;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
}


nav ul {
    margin-left: 0;
    padding-inline-start: 0px;
}

     nav ul li:first-child{
        display: none;
    
    } 


    nav ul li {
        display:inline;
    }


@media screen and (max-width: 900px){
    nav ul{
    flex-direction: column; 
      } 

      nav ul li {
        list-style-type: none;
        padding: 10px 5px;
        float: left;
    }

    header .logo {
        order:2;
    }
    header h1{
        order:3;
    }

    header a {
        order: 4;
    }

    nav {
        order:1;
        margin-left: 10px;
        float: left;
    
    }
  
      nav ul li:first-child {
        display: block;
        padding-right: 0px;
        float: left;
        
    }

    .small, .large{
        display: none;
    }

    .medium {
        display: inline-block;
    }

     nav ul li {
        display: none;
        
    }

      .responsive li {
        display: block;
        float: left;
    }

    .responsive li:first-child{
        padding-top: 30px;
        margin: 0;
        float: left;
    }

    /* nav li {
        float: right;
        overflow: hidden;

    }

    nav {
        /* display: none; */
        /* position: absolute;
        background-color: #04395E;
        top: 50px;
        left: 780px;
        margin: 0; */
        /* 
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        /* z-index: 1;
      } */ 

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        
    }

    .hero{
        grid-column: 1/3; 
        grid-row: 2/3;
    }
    
    .call{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .news{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    
    .events{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .weather{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .join{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .spotlight1{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    
    .spotlight2{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .spotlight3{
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .name, .contact, .location{
        padding: 50px 5px 0px 5px;
    }

    footer .logo {
        padding: 0;
        height: 100%;
        width: 100%;
    }

}

@media screen and (max-width: 690px){

    .logonav{
        display: flex;
        flex-direction: row; 

    } 

    .norm[data-src]:hover {box-shadow: 0 0 0;}

    .logo {
        width: 100px;
        height: 100px;
        padding: 0;
    }

    .large, .medium {
        display: none;
    }

    .small {
        display: inline-flex;
    }

    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        
    }

    header h1 {
        font-size: 16pt;
        padding: 0;
    
    }

    .social{
        padding-left: 5px;
        padding-top: 30px;
    } 

    nav ul{
        flex-direction: column; 
        float: left;
          } 
      
          nav ul li:first-child {
            display: block;
            padding: 0;
            padding-right: 5px;
            padding-bottom: 20px;
            float: left;
        }
    
        nav ul li {
            display: none;
            float: left;
        }
    
          .responsive li {
            display: block;
            float: left;
        }
    
        .hero{
            grid-column: 1/2; 
            grid-row: 1/2;
        }
        
        .call{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        
        .news{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        
        .events{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        
        .weather{
            grid-column: 1/2;
            grid-row: 5/6;
        }
        
        .join{
            /* grid-column: 1/2;
            grid-row: 6/7; */
            display: none;
        }
        
        .spotlight1{
            grid-column: 1/2;
            grid-row: 7/8;
        }
        
        .spotlight2{
            grid-column: 1/2;
            grid-row: 8/9;
        }
        
        .spotlight3{
            grid-column: 1/2;
            grid-row: 9/10;
        }

        footer {
            display: grid;
            grid-template-columns: auto;
        }
/* 
        .name, .contact, .location {
            grid-column: 1/2;
            text-align: center;
            justify-content: center;
        } */
    
        footer .logo {
            grid-column: 1/2;
            grid-row: 1/2;
            width: 200px;
            height: 200px;
            padding: 0;
            align-self: center;
            justify-self: center;
        }

        .firstLine{
            display: grid;
            grid-template-columns: auto;
        }

        

    
}