nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

#grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    
}

.call{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 400px;
    width: 300px;
    background-color: #D8B483;
}

.hero{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 600px;
    height: 400px;
    background-color: #D8B483;
}

.news{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 600px;
    height: 400px;
    background-color: #D8B483;
}

.events{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 600px;
    height: 400px;
    background-color: #D8B483;
}

.weather{
    height: 400px;
    width: 300px;
    background-color: #D8B483;
}

.join{
    grid-column: 3/4;
    grid-row: 1/2;
    height: 400px;
    width: 300px;
    background-color: #D8B483;
}

.spotlight1{
    grid-column: 1/2;
    grid-row: 2/4;
    height: 400px;
    width: 300px;
    background-color: #D8B483;
}

.spotlight2{
    height: 400px;
    width: 300px;
    background-color: #D8B483;
}

.spotlight3{
    grid-column: 1/2;
    grid-row: 2/3;
    height: 400px;
    width: 300px;
    background-color: #D8B483;
}

header h1 {
    text-align: center;
    padding-top: 20px;
}


.logonav {
    display: inline-flex;
    padding-bottom: -40px;
    padding-left: -20px;
}

.firstLine {
    display: inline-flex;
    width: 100%;
    padding-left: 0;
    padding-inline-start: 0px;
}

.info h3, .contact, .location {
    display: inline-flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 51px 30px 51px;
    margin: 0;
    align-self: center;
}

.social {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.logo {
    width: 175px;
    height: 140px;
    padding-left: 20px;
}

nav ul li {
    list-style-type: none;
    padding: 10px 25px;
}

.mod{
    text-align: center;
    font-size: 16pt;
}

nav {
    display: inline-flex;
    align-self: center;
}

footer{
    margin-top: 10px;
    align-self: center;
}

.date_h{
    font-size: 20pt;
    text-align: center;
    border: 3px solid black;
    margin-bottom: 2px;
    margin-top: 0;
}

header{
    padding-bottom: 4px;
}

main{
    padding-top: 10px;
}

header, footer {
    background-color: #04395E;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
}



li {
    display: none;
}

li:first-child {
    display: block;
}

nav ul {
    margin-left: 0;
    padding-inline-start: 0px;
}

.responsive li {
    display: block;
}

@media screen and (min-width: 900px){
    nav ul{
    flex-direction: row; 
      } 

    li:first-child{
        display: none;
    
    }

    nav li {
        display:block;
    }
}